<p-tabView>
    <p-tabPanel header="Users">
        <!-- Search form-->
        <form name="userForm" role="form" novalidate (ngSubmit)="searchUsers()" #userForm="ngForm">
            <div class="form-group">
                <label class="form-control-label" for="firstname">FirstName</label>
                <input type="text" class="form-control" pKeyFilter="alpha" id="firstname" name="firstname"
                       [(ngModel)]="searchedUser.firstName">
            </div>

            <div class="form-group">
                <label class="form-control-label" for="lastName">LastName</label>
                <input type="text" class="form-control" pKeyFilter="alpha" id="lastName" name="lastName"
                       [(ngModel)]="searchedUser.lastName">
            </div>

            <button type="submit" id="search-user" class="btn btn-primary" >
                <fa-icon [icon]="'search'"></fa-icon>&nbsp;<span>Search</span>
            </button>
        </form>

        <!-- Results -->
        <div class="table-responsive" *ngIf="users">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th><span>Picture</span></th>
                    <th><span>FirstName</span></th>
                    <th><span>LastName</span></th>
                    <th><span>Title</span></th>
                    <th><span>City</span></th>
                </tr>
                </thead>
                <tbody *ngIf="users">
                <tr *ngFor="let user of users; trackBy: trackIdentity">
                    <td>TODO</td>
                    <td>{{user.firstName}}</td>
                    <td>{{user.lastName}}</td>
                    <td>{{user.title}}</td>
                    <td>{{user.cityName}}</td>
                </tr>
                </tbody>
            </table>
        </div>

    </p-tabPanel>
    <p-tabPanel header="Companies">
        <!-- Search form-->
        <form name="companyForm" role="form" novalidate (ngSubmit)="searchCompanies()" #companyForm="ngForm">
            <div class="form-group">
                <label class="form-control-label" for="companyName">Company's name </label>
                <input type="text" class="form-control" pKeyFilter="alpha" id="companyName" name="companyName"
                       [(ngModel)]="searchedCompany.name">
            </div>

            <button type="submit" id="search-company" class="btn btn-primary" >
                <fa-icon [icon]="'search'"></fa-icon>&nbsp;<span>Search</span>
            </button>
        </form>

        <!-- Results -->
        <div class="table-responsive" *ngIf="companies">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th><span>Name</span></th>
                    <th><span>City</span></th>
                </tr>
                </thead>
                <tbody *ngIf="companies">
                <tr *ngFor="let company of companies; trackBy: trackIdentityCompany">
                    <td>{{company.name}}</td>
                    <td>{{company.cityExpName}}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </p-tabPanel>
    <p-tabPanel header="Schools" leftIcon="pi pi-user" rightIcon="pi pi-star">
        After a break of more than  15 years, director Francis Ford Coppola and writer Mario Puzo returned to the well for this third and final story of the fictional Corleone crime family. Two decades have passed, and crime kingpin Michael Corleone, now divorced from his wife Kay has nearly succeeded in keeping his promise that his family would one day be completely legitimate.
    </p-tabPanel>
</p-tabView>
