<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="userExtra">
            <h2><span>User Extra</span> {{userExtra.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Title</span></dt>
                <dd>
                    <span>{{userExtra.title}}</span>
                </dd>
                <dt><span>Birthdate</span></dt>
                <dd>
                    <span>{{userExtra.birthdate}}</span>
                </dd>
                <dt><span>Picture</span></dt>
                <dd>
                    <div *ngIf="userExtra.picture">
                        <a (click)="openFile(userExtra.pictureContentType, userExtra.picture)">
                            <img [src]="'data:' + userExtra.pictureContentType + ';base64,' + userExtra.picture" style="max-width: 100%;" alt="userExtra image"/>
                        </a>
                        {{userExtra.pictureContentType}}, {{byteSize(userExtra.picture)}}
                    </div>
                </dd>
                <dt><span>First Name</span></dt>
                <dd>
                    <span>{{userExtra.firstName}}</span>
                </dd>
                <dt><span>Last Name</span></dt>
                <dd>
                    <span>{{userExtra.lastName}}</span>
                </dd>
                <dt><span>Email</span></dt>
                <dd>
                    <span>{{userExtra.email}}</span>
                </dd>
                <dt><span>User</span></dt>
                <dd>
                    {{userExtra.userLogin}}
                </dd>
                <dt><span>City</span></dt>
                <dd>
                    <div *ngIf="userExtra.cityId">
                        <a [routerLink]="['/city', userExtra.cityId, 'view']">{{userExtra.cityName}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/user-extra', userExtra.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
