<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-user-extra-heading">Create or edit a User Extra</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!userExtra.id">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="userExtra.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_title">Title</label>
                    <input type="text" class="form-control" name="title" id="field_title"
                        [(ngModel)]="userExtra.title" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_birthdate">Birthdate</label>
                    <div class="input-group">
                        <input id="field_birthdate" type="text" class="form-control" name="birthdate" ngbDatepicker  #birthdateDp="ngbDatepicker" [(ngModel)]="userExtra.birthdate"
                        />
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="birthdateDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_picture">Picture</label>
                    <div>
                        <img [src]="'data:' + userExtra.pictureContentType + ';base64,' + userExtra.picture" style="max-height: 100px;" *ngIf="userExtra.picture" alt="userExtra image"/>
                        <div *ngIf="userExtra.picture" class="form-text text-danger clearfix">
                            <span class="pull-left">{{userExtra.pictureContentType}}, {{byteSize(userExtra.picture)}}</span>
                            <button type="button" (click)="clearInputImage('picture', 'pictureContentType', 'fileImage')" class="btn btn-secondary btn-xs pull-right">
                                <fa-icon [icon]="'times'"></fa-icon>
                            </button>
                        </div>
                        <input type="file" id="file_picture" (change)="setFileData($event, userExtra, 'picture', true)" accept="image/*"/>
                    </div>
                    <input type="hidden" class="form-control" name="picture" id="field_picture"
                        [(ngModel)]="userExtra.picture" />
                    <input type="hidden" class="form-control" name="pictureContentType" id="field_pictureContentType"
                        [(ngModel)]="userExtra.pictureContentType" />
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_user">User</label>
                    <select class="form-control" id="field_user" name="user" [(ngModel)]="userExtra.userId"  required>
                        <option *ngIf="!editForm.value.user" [ngValue]="null" selected></option>
                        <option [ngValue]="userOption.id" *ngFor="let userOption of users; trackBy: trackUserById">{{userOption.login}}</option>
                    </select>
                </div>
                <div [hidden]="!(editForm.controls.user?.dirty && editForm.controls.user?.invalid)">
                    <small class="form-text text-danger"
                        [hidden]="!editForm.controls.user?.errors?.required">
                        This field is required.
                    </small>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_city">City</label>
                    <select class="form-control" id="field_city" name="city" [(ngModel)]="userExtra.cityId"  required>
                        <option *ngIf="!editForm.value.city" [ngValue]="null" selected></option>
                        <option [ngValue]="cityOption.id" *ngFor="let cityOption of cities; trackBy: trackCityById">{{cityOption.name}}</option>
                    </select>
                </div>
                <div [hidden]="!(editForm.controls.city?.dirty && editForm.controls.city?.invalid)">
                    <small class="form-text text-danger"
                        [hidden]="!editForm.controls.city?.errors?.required">
                        This field is required.
                    </small>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
