<div class="container">
    <div class="row">
        <div class="col-md-3">
            <button class="btn btn-dark col-md-12" (click)="getAllSchools()" style="margin: 5px">
                List all the schools
            </button>
            <button *jhiHasAnyAuthority="'ROLE_ADMIN'" class="btn btn-success col-md-12"
                    style="margin: 5px" [routerLink]="['/school']">
                Administration of schools
            </button>
            <p-fieldset legend="Research form" [toggleable]="true">
                <!-- Search form-->
                <form name="schoolForm" role="form" novalidate (ngSubmit)="searchSchools()" #schoolForm="ngForm">
                    <div class="form-group">
                        <label class="form-control-label" for="schoolName">School's name </label>
                        <input type="text" class="form-control" pKeyFilter="alpha" id="schoolName" name="schoolName"
                               [(ngModel)]="searchedSchool.name">
                    </div>

                    <button type="submit" id="search-school" class="btn btn-primary" >
                        <fa-icon [icon]="'search'"></fa-icon>&nbsp;<span>Search</span>
                    </button>
                </form>
            </p-fieldset>
        </div>

        <!-- Results -->
        <div class="col-md-9">
            <div class="table-responsive" *ngIf="schools">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th><span>Name</span></th>
                        <th><span>City</span></th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody *ngIf="schools">
                    <tr *ngFor="let school of schools; trackBy: trackIdentitySchool">
                        <td>{{school.name}}</td>
                        <td>{{school.cityExpName}}</td>
                        <td class="text-right">
                            <div class="btn-group flex-btn-group-container">
                                <button type="submit"
                                        [routerLink]="['network-school', school.id, 'view' ]"
                                        class="btn btn-info btn-sm">
                                    <fa-icon [icon]="'eye'"></fa-icon>
                                    <span class="d-none d-md-inline">View</span>
                                </button>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

