<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="school">
            <h2><span>School</span> {{school.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Name</span></dt>
                <dd>
                    <span>{{school.name}}</span>
                </dd>
                <dt><span>City Exp</span></dt>
                <dd>
                    <div *ngIf="school.cityExpId">
                        <a [routerLink]="['/city-exp', school.cityExpId, 'view']">{{school.cityExpName}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button" *jhiHasAnyAuthority="'ROLE_ADMIN'"
                    [routerLink]="['/school', school.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
